
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="card">

<h2>Sign PDF/Document</h2>

<form method="POST" enctype="multipart/form-data">

<input type="file" name="file" required>

<button type="submit">Generate Digital Signature</button>

</form>

{% if signed_file %}

<h3 class="success">Document Signed Successfully</h3>

<p>Download Signature:</p>

<a class="btn primary" href="/download/signature/{{ signed_file }}">Download Signature</a>

{% endif %}

{% if qr_code %}

<h3>Generated QR Verification Code</h3>

<img width="250" src="{{ url_for('static', filename='qrcodes/' + qr_code) }}">

{% endif %}

</div>
