
{% extends 'base.html' %}

{% block title %}Verify Certificate | EduProof{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">

    <div class="glass-card" style="width: 500px;">

        <h2 class="text-center mb-4">

            <i class="fa-solid fa-certificate"></i>

            Verify Certificate

        </h2>

        <form method="POST">

            <div class="mb-3">

                <label class="form-label">
                    Certificate ID
                </label>

                <input type="text"
                       name="certificate_id"
                       class="form-control"
                       placeholder="Enter certificate ID"
                       required>

            </div>

            <button type="submit"
                    class="btn btn-custom w-100">
                Verify
            </button>

        </form>

    </div>

</div>

{% endblock %}
